# virtualenv
venv/
.venv/

# environment config
.env

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Django stuff
staticfiles/
media/

# Logs & coverage reports
*.log
coverage/
htmlcov/
pytest_cache/

# IDEs / editors
.vscode/
.idea/

# OS cruft
.DS_Store
Thumbs.db

# Optional: SQL dumps
*.sql
